*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #F5FFFD;
}

body {
    font-family: 'Inter';
}

body.lock {
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: hidden;
}

.header {
    transition: 0.4s top ;
}

.header--fixed__show {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.6s ease 0s;
    opacity: 1;
    transition-duration: 0.6s;
}

.header--fixed__hide {
    opacity: 0;
}

.header--fixed__show .header__wrapper{
    background: #20493b;
}

.header--fixed__show .header__inner{
    padding: 20px 0 15px;
}

.header--fixed__show .header__logo img{
    height: 25px;
}

.header__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    width: 100%;
}

.header__inner{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0 25px;
    gap: 20px;
}


.nav {
    display: flex;
    gap: 33px;
    margin-left: 66px;
    transform: scale(1);
    z-index: 5;
}

.nav-second {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 138.02%;
    letter-spacing: 0.14em;
    white-space: nowrap;
    color: #F5FFFD;
    cursor: pointer;
}

.nav__link::before, .nav__link.hide::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #F5FFFD;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

.nav__link:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.header__logo.hide{
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0.8s;
}

.header__logo, .link, .link-login, .search__btn{
    transition: 1s;
    transform: scale(1);
}

.link.hide, .link-login.hide, .search__btn.hide{
    transition: 0.5s;
    transform: scale(0);
}

.link.hide:nth-child(1) {
    transition-delay: 0.7s;
}

.link.hide:nth-child(2) {
    transition-delay: 0.6s;
}

.link.hide:nth-child(3) {
    transition-delay: 0.5s;
}

.link.hide:nth-child(4) {
    transition-delay: 0.4s;
}

.search__btn.hide {
    transition-delay: 0.3s;
}

.link-login.hide:nth-child(1) {
    transition-delay: 0.2s;
}

.link-login.hide:nth-child(2) {
    transition-delay: 0.1s;
}

.search__image {
    display: flex;
    align-self: center;
    cursor: pointer;
}

.search__close {
    width: 13px;
    cursor: pointer;
}

.search-form {
    position: absolute; 
    width: 100%;
    z-index: 7;
    visibility: hidden;
    transition: 0.4s;
    transform: translateX(100%);
}

.search-form__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-form.active {
    display: flex;
    visibility: visible;
    transition: 2s;
    transform: translateX(0);
}

.search-form__input {
    width: 100%;
    background: transparent;
    color: #F5FFFD;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-form__input::placeholder {
    color: #F5FFFD;
    opacity: 0.8;
}

.submenu {
    display: none;
}

.submenu__burger.hide {
    transition: 0.5s;
    transform: scale(0);
    transition-delay: 0.1s;
}

.login {
    display: none;
}

.login.active {
    width: 100%;
    height: 100vh;
    background: rgba(00, 00, 00, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease 0s;
    overflow: auto;
    z-index: 20;
}

.login__wrapper{
    background: #F5FFFD;
    max-width: 405px;
    width: 100%;
    min-height: 581px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 23px 30px 48px;
}

.login__container {
    max-width: 336px;
    width: 100%;
}

.login__inner {
    display: flex;
    flex-direction: column;
}

.login__close {
    margin-bottom: 15px;
    align-self: end;
    max-width: 15px;
    width: 100%;
    cursor: pointer;
}

.login__logo {
    align-self: center;
    max-width: 136px;
    width: 100%;
    margin-bottom: 10px;
}

.form__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 138.02%;
    letter-spacing: 0.14em;
    color: #2A5A49;
}

.form__inner {
    margin: 10px 0 16px;
}

.form__field {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;
}

.field__name {
    font-weight: 800;
    font-size: 14px;
    line-height: 138.02%;
    letter-spacing: 0.12em;
    color: #2A5A49;
    margin-bottom: 6px;
}

.field__input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: #F5FFFD;
    border-bottom: 2px solid rgba(42, 90, 73, 0.3);
    transition: all 0.2s ease;
}

.field__input::placeholder {
    color: rgba(42, 90, 73, 0.6);
    font-weight: 700;
    font-size: 13px;
    line-height: 138.02%;
    letter-spacing: 0.09em;   
}

.field__input:is(:focus, :valid) {
    border-bottom: 2px solid #2A5A49;
}

.field__item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uil {
    position: absolute;
    z-index: 10;
    right: 15px;
    font-size: 18px;
    font-weight: 900;
}

.uil-eye-slash {
    color: rgba(42, 90, 73, 0.3);
    font-weight: 900;
    transition: all 0.2s ease;
}

.field__input:is(:focus, :valid) ~ .uil-eye-slash {
    color: #2A5A49;
}

.uil-eye {
    color: rgba(42, 90, 73, 0.3);
}

.field__input:is(:focus, :valid) ~ .uil-eye {
    color: #2A5A49;
}

.form__btn {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 138.02%;
    text-align: center;
    letter-spacing: 0.14em;
    color: #F5FFFD;
    background: #44826d;
    padding: 15px 20px;
}   

.form__btn:hover {
    background: #2A5A49;
    transition: all 0.2s ease;
}

.login__alternative {
    display: flex;
    justify-content: space-between;
    gap: 13px;
    align-items: center;
    margin-bottom: 16px;
}

.login__line {
    max-width: 143px;
    width: 100%;
    height: 2px;
    background: #2A5A49;  
}

.login__alternative span {
    font-weight: 800;
    font-size: 16px;
    line-height: 138.02%;
    letter-spacing: 0.14em;
    color: #2A5A49;
}   

.login__btn {
    width: 100%;
    font-weight: 700;
    font-size: 15px;
    line-height: 138.02%;
    text-align: center;
    letter-spacing: 0.14em;
    color: #2A5A49;
    padding: 12px 20px;
    text-align: center;
    border: 3px solid #2A5A49;
    margin-bottom: 10px;
}

.login__btn:hover {
    background: #2A5A49;
    color: #F5FFFD;
    transition: all 0.2s ease;
}

.login__question {
    color: #2A5A49;
    font-size: 13px;
}

.login__question:hover {
    font-weight: 700;
}

.btn {
    border: 4px solid #2A5A49;
    font-weight: 700;
    font-size: 13px;
    line-height: 138.02%;
    letter-spacing: 0.14em;
    color: #2A5A49;
    padding: 13px 43px 12px;
}

.btn:hover {
    transition: 0.3s;
    background: #2A5A49;
    color: #F5FFFD;
}

.footer {
    border-top: 0.5px solid #2A5A49;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 28px;
}

.footer__logo-name {
    display: flex;
    align-items: center;
    gap: 18px;
}

.footer__line {
    width: 1px;
    height: 28px;
    background: #2A5A49;
}

.footer__title {
    font-weight: 700;
    font-size: 15px;
    line-height: 138.02%;
    letter-spacing: 0.14em;
    color: #2A5A49;
}

.footer__contacts {
    display: flex;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width:1024px) {
    .container {
        max-width: 1024px;
    }
    .header__logo img{
        height: 30px;;
    }
    .header__content {
        max-width: 900px;
    }
    .nav {
        gap: 20px;
        margin-left: 66px;
    }
    .nav__link {
        font-size: 14px;
    }
    .nav-second {
        gap: 15px;
    }
    .header__title {
        width: 100%;
    }
    .footer__title, .footer__line {
        display: none;
    }
}

@media screen and (max-width:855px) {
    .header--fixed__show  .header__inner{
        padding: 20px 0 15px;
    }
    
    .header--fixed__show .header__logo img{
        height: 20px;
    }

    .nav, .nav__link {
        display: none;
    }
    .submenu {
        display: block;
        position: relative;
    }
    .submenu__burger {
        width: 40px;
        height: 30px;
        position: relative;
        z-index: 15;
        transition: 1s;
        transform: scale(1);
    }
    .submenu__burger span {
        background: #F5FFFD;
        position: absolute;
        width: 100%;
        height: 3px;
        top: 14px;
        transition: all 0.3s ease 0s;
    }
    .submenu__burger:before, .submenu__burger:after {
        content: '';
        background: #F5FFFD;
        position: absolute;
        width: 100%;
        height: 3px;
        transition: all 0.3s ease 0s;
    }
    .submenu__burger:before {
        top: 0;
    }
    .submenu__burger:after {
        bottom: 0;
    }
    .submenu__burger.active span {
        transform: scale(0);
    }
    .submenu__burger.active:before {
        transform: rotate(45deg);
        top: 14px;
    }
    .submenu__burger.active:after {
        transform: rotate(-45deg);
        bottom: 14px;
    }
    .submenu-nav {
        position: fixed;
        padding: 28px 0 0;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(black 10%, rgba(43, 43, 43, 0.7) 90%);
        transition: all 0.3s ease 0s;
        overflow: auto;
    }
    .submenu-nav.active {
        top: 0;
    }
    .submenu-nav__link {
        display: flex;
        flex-direction: column;
        width: 180px;
        margin-left: 30px;
        line-height: 50px;
        font-size: 20px;
        text-transform: uppercase;
        color: #F5FFFD;
    }
}

@media screen and (max-width:768px) {
    body.block {
        overflow: hidden;
    }
    .container--padding {
        max-width: 768px;
        padding: 0;
        width: 100%;
    }
    .header__inner, .footer__inner  {
        margin: 0 20px;
    }
    .header__content {
        margin-left: 50px;
        font-size: 28px;
    } 
    .header__title {
        font-size: 40px;
        width: 100%;
    }
    .submenu__burger {
        width: 35px;
        height: 25px;
        position: relative;
        z-index: 15;
    }
    .submenu__burger span {
        top: 11px;
    }
    .submenu__burger.active:before {
        top: 11px;
    }
    .submenu__burger.active:after {
        bottom: 11px;
    } 
    .login__wrapper{
        max-width: 100vw;
        min-height: 100vh;
        overflow: hidden;
    }
    .btn {
        font-size: 12px;
        padding: 13px 36px 12px;
    }
    .footer__contacts {
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    .footer__logo img, .header__logo img, .serch__image img {
        height: 20px;
    }
    .contact img{
        height: 15px;
    }
}

@media screen and (max-width:400px) {
    .login__logo {
        max-width: 120px;
    }
    .field__name {
        font-size: 13px;
        margin-bottom: 12px;
    }
    .field__input {
        padding: 12px;
    }
    .form__btn {
        padding: 10px;
    }
    .login__btn {
        font-size: 13px;
        padding: 10px 5px;
        margin-bottom: 12px;
    }
    .btn {
        font-size: 11px;
        padding: 13px 30px 12px;
    }
}

@media screen and (max-width:360px) {
    .login__close {
        margin-top: 30px;
    }
    .login__logo {
        max-width: 100px;
        margin-bottom: 10px;
    }
    .field__name {
        font-size: 13px;
        margin-bottom: 4px;
    }
    .field__input {
        padding: 8px;
    }
    .form__inner {
        margin-bottom: 10px
    }
    .login__alternative {
        margin-bottom: 10px;
    }
}
