*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #F5FFFD;
}

body {
    font-family: 'Inter';
}

.header__wrapper{
    background: #20493b;

}

.header__inner{
    padding: 20px 0 15px;
}

.header__logo img{
    height: 25px;
}

.info {
    padding: 146px 0;
}

.info__inner {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, 385px);
    grid-gap: 42px 20px;
}

.item-card {
    max-height: 385px;
}

.item-card__picture {
    margin-bottom: 15px;
}

.picture {
    width: 100%;
    min-height: 293px;
    height: 100%;
    object-fit: cover;
}

.item-card__content {
    display: flex;
    flex-direction: column;
}

.item-card__category {
    font-weight: 500;
    font-size: 12px;
    line-height: 138.02%;
    letter-spacing: 0.085em;
    color: #2A5A49;
    padding-bottom: 5px;
}

.item-card__title {
    font-weight: 800;
    font-size: 15px;
    line-height: 170.52%;
    letter-spacing: 0.085em;
    color: #2A5A49;
    max-height: 50px;
    overflow: hidden;
}

.info__btn {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.footer {
    position: relative;
}

@media screen and (max-width:992px) {
    .info__inner {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
}

@media screen and (max-width:768px) {
    .container {
        padding: 30;
    }
    .info__inner {
        grid-gap: 30px 15px;
    }
    .item-card__picture {
        margin-bottom: 10px;
    }
    .item-card__category {
        font-size: 11px;
    }
    .item-card__title {
        font-size: 14px;
    }
}

@media screen and (max-width:700px) {
    .container {
        padding: 0 15px;
    }
    .info__inner {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media screen and (max-width:480px) {
    .info__inner {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, 285px);
    }
    .item-card {
        max-height: 285px;
    }
    .picture {
        width: 100%;
        min-height: 193px;
        height: 100%;
    }
}


@media screen and (max-width:400px) {
    .info__inner {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(auto-fit, 264px);
    }
    .item-card {
        max-height: 264px;
    }
    .picture {
        width: 100%;
        min-height: 185px;
        height: 100%;
    }
}