*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter';
}

.background {
  position: relative;
  background: black;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.bg-slider, .bg-slider__item {
  height: 100vh;
}

.bg-slider__item {
  position: relative;
}

.bg-slider__item .bg-slider__image  {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.bg-slider__image img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.4;
}

.bg-slider__title {
  position: absolute;
  bottom: 15%;
  right: 12%;
  left: 12%;
  font-weight: 700;
  font-size: 40px;
  line-height: 67px;
  letter-spacing: 0.15em;
  color: #F5FFFD;
}

.biog-slider {
  padding: 130px 70px 51px;
}

.biog-slider__title {
  font-family: 'Inter';
  margin-bottom: 57px;
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 138.02%;
  letter-spacing: 0.14em;   
  color: #434343;
}

.biog-slider__content{
  margin-right: 0;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 18px;
  max-width: 156px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  text-align: center;
}

.biog-slider__subtitle {
  color: #434343;
}

.biog-slider__picture  {
  max-width: 156px;
  max-height: 156px;
}

.biog-slider__picture img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-slider {
  padding: 57px 70px 60px;
  background-color: #2A5A49;
}

.products-slider__title {
  font-family: 'Inter';
  margin-bottom: 43px;
  text-align: center;
  font-weight: 800;
  font-size: 28px;
  line-height: 138.02%;
  letter-spacing: 0.14em;   
  color: #F5FFFD;
}

.products-slider__content{
  margin-right: 0;
  font-family: 'Inter';
  font-weight: 500;
  max-width: 215px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  font-size: 18px;
  color: #F5FFFD;
  letter-spacing: 0.08em; 
  line-height: 28px; 
}


.products-slider__picture img {
  max-width: 215px;
  max-height: 215px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slick-list {
  overflow: hidden;
}

.slick-track{
  display: flex;
}

.slider {
  position: relative;
  padding: 0 40px;
}

.slider__item {
  display: flex;
  justify-content:  center;
}

.slick-arrow{
  position: absolute;
  top: 35%;
  font-size: 0;
  width: 22px;
  height: 57px;
  z-index: 5;
}

.biog-slider  .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/biog/left-green_arrow.svg) 0 0 / 100% no-repeat;
}

.biog-slider  .slick-arrow.slick-next {
  right: 0;
  background: url(../img/biog/right-green_arrow.svg) 0 0 / 100% no-repeat;
}

.products-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/products/left-arrow.svg) 0 0 / 100% no-repeat;
}

.products-slider .slick-arrow.slick-next {
  right: 0;
  background: url(../img/products/right-arrow.svg) 0 0 / 100% no-repeat;
}


@media screen and (max-width:1160px) {
  .biog-slider, .products-slider {
  padding-right: 30px;
  }
  .slider {
    padding: 0 40px;
  }
}

@media screen and (max-width:855px) {
  .biog-slider, .products-slider {
  padding-right: 40px;
  }
  .slider {
    padding: 0 40px;
  }
  .bg-slider__title {
    left: 10%;
    right: 10%;
    font-size: 34px;
    line-height: 50px;
  }
}

@media screen and (max-width:550px) {
  .biog-slider, .products-slider {
  padding-right: 50px;
  }
  .bg-slider__title {
    font-size: 28px;
    line-height: 34px;
  }
}

@media screen and (max-width:400px) {
  .biog-slider, .products-slider {
  padding-right: 10px;
  }
  .bg-slider__title {
    left: 8%;
    right: 8%;
  }
}